@use 'scss/config' as *;

.button {
  @include make-spacer(p, 10px);

  display: inline-flex;
  position: relative;
  overflow: hidden;
  background-color: var(--color-accent);

  &__text {
    position: relative;
    font-size: rem(14px);
    letter-spacing: var(--border-radius);
    text-align: center;
  }
}
