mixin footer
    footer.footer&attributes(attributes)
        .container-fluid
            .container
                .footer__content
                    .footer__logo
                        img(src="https://api.oddsbit.io/img/zoro.png")
                    ul.footer__list
                        li 
                            strong ©2023 iGameMedia Ltd. All rights reserved.
                        li
                            strong GLOBAL HEADQUARTERS 
                        li
                            strong 55-59 Adelaide Street, 
                        li
                            strong Belfast BT2 8FE, N.I. 
                    p This document is accurate as of the publication date and may be subject to change by iGameMedia without notice. Not all products and services may be available in every country where iGameMedia operates
                    p The information presented in this document is provided without any warranties, whether express or implied, including warranties of merchantability, fitness for a particular purpose, and non-infringement. iGameMedia products are covered under the terms and conditions of the agreements governing their provision.